html, body{
	font-family: sans-serif;
}

label, input[type=text], input[type=email], input[type=password], input[type=submit]{
	display: block;
	width: 100%;
	box-sizing: border-box;
}

input[type=text], input[type=email], input[type=password] {
	padding: 10px;
	border: none;
	outline: none;

	border-bottom: 1px solid #000000;
}


input[type=submit]{
	background-color: #FDAC41;
	color: #ffffff;
	padding: 6px 0;
	border: none;
	overflow: none;
}


.form-container {
	width: 25%;
	padding: 30px 30px 0 60px;
}

.form-row {
	margin-bottom: 35px;
}

.form-row a{
	color: #399bda;
	text-decoration: none;
}

.container {
	display: flex;
	flex-direction: row;
	justify-content:flex-start;
	height: 100vh;
	background-color: #ffffff;
}

.logo {
	width: 100%;
	box-sizing: border-box;
	margin-bottom: 20px;
}

.logo img {
	box-sizing: border-box;
	padding: 14px;
}

.bg-content{
	display: block;
	
	width: 100%;

	background: url(https://apprvd-suntec.s3.us-east-2.amazonaws.com/assets/custom/right-background.jpg) no-repeat top left; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}
